
body {
    position: relative;
    background-image: url("../img/sk_fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


header {
    background-color: rgb(104, 125, 126);
    padding: 5px;
}

nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 20px;
}

header nav a {
    color: burlywood;
    text-decoration: none;
}

.Idioma {
    background-color: rgb(109, 185, 215);
    padding: 24px;
    border-radius: 6px;
}

.PLANETSKIN .Skin {
    color: rgb(109, 185, 215);
}

aside {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 500px;
    left: 0px;
    padding: 20px;
    color: fuchsia;
    z-index: 15;
}

aside h4:nth-of-type(2) {
    background-color: rgb(226, 186, 43);
    padding: 10px;
    width: fit-content;
    text-align: center;
    border-radius: 6px;
}

aside h5 {
    padding: 15px;
    border-radius: 25px;
    width: fit-content;
    background-color: rgb(109, 185, 215);
    color: burlywood;
}

@media (max-width: 480px) {
    nav {   
        display: none
    }
}

@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
    }
}